html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-image: url("assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.containerone {
  width: 1000px;
  margin: auto;
}
.container {
  display: flex;
  padding-top: 1px;
  width: 100%;
  margin: 0 0 0 410px;
}
.sub {
  padding-right: 150px;
  padding-left: 50px;
  padding-top: 30px;
  color: white;
  font-size: 19px;
}

.fb {
  background-color: rgb(55, 113, 189);
  width: 70px;
  height: 71px;
  text-align: center;
  color: rgb(243, 232, 232);
  font-size: 35px;
  border-bottom-style: solid;
  border-color: black;
  padding-top: 20px;
  margin-right: 10px;
}
.fas {
  background-color: rgb(223, 142, 51);
  width: 70px;
  height: 61px;
  text-align: center;
  font-size: 35px;
  border-bottom-style: solid;
  border-color: black;
  padding-top: 10px;
  margin-right: 10px;
}
.you {
  width: 70px;
  height: 71px;
  text-align: center;
  font-size: 35px;
  background-color: rgb(201, 42, 42);
  padding-top: 20px;
  border-bottom-style: solid;
  border-color: black;
  margin-right: 10px;
}
.t {
  width: 70px;
  height: 71px;
  font-size: 35px;
  background-color: rgb(91, 201, 245);
  text-align: center;
  padding-top: 20px;
  border-bottom-style: solid;
  border-color: black;
  margin-right: 10px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 20px;
}
.sk {
  background-color: rgb(226, 49, 49);
  font-size: 30px;
  color: white;
  padding: 14px 30px;
}
.sb {
  background-color: rgb(226, 49, 49);
  font-size: 30px;
  color: white;
  padding: 14px 30px;
}
.bd {
  background-color: rgb(226, 49, 49);
  font-size: 30px;
  color: white;
  padding: 14px 30px;
}
.c {
  background-color: rgb(226, 49, 49);
  font-size: 30px;
  color: white;
  padding: 14px 30px;
}

.bigpic {
  width: 100%;
  height: 300px;
  border: 5px solid white;
  background: url("./assets/top-image.png");
  background-repeat: no-repeat;
  background-size: 1267px 595px;
  position: relative;
}
.logo > img {
  position: absolute;
  bottom: 53px;
  left: 29px;
  width: 385px;
  height: 185px;
}
.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
}
.hawk {
  font-size: 10px;
  background-color: white;
  margin-right: 10px;
  width: 325px;
  height: 275px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.hawk > h3 {
  font-size: 15px;
}
.hawk > h6 {
  color: grey;
  font-size: 7px;
}
.rodney {
  font-size: 10px;
  background-color: white;
  margin-right: 10px;
  width: 325px;
  height: 275px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.rodney > h3 {
  font-size: 16px;
}
.rodney > h6 {
  color: grey;
  font-size: 7px;
}
.ray {
  font-size: 10px;
  background-color: white;
  width: 325px;
  height: 275px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.ray > h3 {
  font-size: 16px;
}
.ray > h6 {
  color: grey;
  font-size: 7px;
}
.photo {
  display: grid;
  grid-template-columns: 333px 333px 333px;
  grid-template-rows: 322px;
  grid-template-areas:
    "pic1 pic2 pic3"
    "pic4 pic4 pic3";
}
.lance {
  grid-area: "pic1";
  background-image: url("assets/sk8er-4.png");
  background-repeat: no-repeat;
  width: 333px;
  height: 322px;
  background-size: 325px 321px;
}

.mullen {
  grid-area: "pic2";
  background-image: url("assets/sk8er-3.png");
  background-repeat: no-repeat;
  height: 258px;
  height: 324px;
  background-size: 325px 324px;
}

.tommy {
  grid-area: "pic3";
  background-image: url("assets/sk8er-2.png");
  background-repeat: no-repeat;
  width: 333px;
  height: 666px;
  background-size: 337px 654px;
}

.steve {
  grid-area: "pic4";
  background-image: url("assets/sk8er-1.png");
  background-repeat: no-repeat;
  width: 666px;
  height: 333px;
}

.skb {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  padding-left: 30px;
}
.panda {
  background-image: url("assets/sk8-3.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 300px;
}
.monkey {
  background-image: url("assets/sk8-4.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 300px;
}
.message {
  background-image: url("assets/sk8-5.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 300px;
}
.space {
  background-image: url("assets/sk8-6.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 300px;
}
.hong {
  background-image: url("assets/sk8-7.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 300px;
}
.shecks {
  background-image: url("assets/sk8-8.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 300px;
}
.jam {
  background-image: url("assets/sk8-9.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 300px;
}
.alien {
  background-image: url("assets/sk8-10.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 300px;
}
.blue {
  background-image: url("assets/sk8-2.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 300px;
}
.green {
  background-image: url("assets/sk8-1.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 300px;
}
.form {
  display: flex;
  background-color: white;
}
.text {
  flex-direction: column;
}
.input {
  flex-direction: column;
}
